$default-text-color: #333;
$header-bg-color: #373277;
$header-text-color: #fff;
$nav-item-bg-color-hover: rgba(0, 0, 0, 0.04);
$nav-item-bg-color-active: rgba(0, 0, 0, 0.1);
$base-font-family: 'Roboto', sans-serif;
$terminal-font-family: 'Droid Sans Mono for Powerline', monospace;
$sidebar-width: 260px;
$terminal-font-size: 20px;
$swatch-color-size: 32px;