header {
    background: $header-bg-color;
    &,
    a {
        color: $header-text-color;
    }
    h1 {
        display: inline-block;
        font-size: 28px;
        margin-top: 0;
        padding-bottom: 8px;
        margin-bottom: 16px;
        border-bottom: 1px solid rgba($header-text-color, .2);
        small {
            font-size: 16px;
        }
    }
    p {
        margin-top: 0;
    }
}