.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.padded {
    padding: 32px;
}

@mixin crossfade {
    transition-property: color, border-color, background-color;
    transition-duration: .3s;
}