.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main,
header {
    margin-left: $sidebar-width;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sidebar {
    position: fixed;
    width: $sidebar-width;
    height: 100vh;
    overflow-y: scroll;
}