nav {
    a {
        display: block;
        padding: 16px;
        text-decoration: none;
        color: $default-text-color;
        &:hover {
            background: $nav-item-bg-color-hover;
        }
        &.active,
        &:focus {
            background: $nav-item-bg-color-active;
        }
    }
}