.swatch {
    &__color {
        display: inline-block;
        width: $swatch-color-size;
        height: $swatch-color-size;
        border-radius: $swatch-color-size / 2;
        margin: 0 4px;
        border: 2px solid transparent;
        @include crossfade;
    }
}