.terminal {
    font-family: $terminal-font-family;
    font-size: $terminal-font-size;
    line-height: 1.25;
    &__screen,
    span {
        @include crossfade;
    }
    &__screen {
        padding: 16px;
        display: inline-block;
        border: 1px solid transparent;
    }
    span {
        display: inline-block;
    }
}