.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
}

nav {
    position: fixed;
    width: 200px;
    height: 100vh;
    overflow-y: scroll;
}

nav a {
    display: block;
    padding: 8px 4px;
}

nav a.active {
    background: #000;
    color: #fff;
}

main,
header {
    margin-left: 200px;
}

header {
    padding: 32px;
    background: #373277;
    color: #fff;
}

header h1 {
    font-weight: 300;
    margin-top: 0;
}

.theme {
    padding: 32px;
    transition: all .3s;
}

.code-snippet {
    background: #333;
    color: #fff;
    border: 2px solid #fff;
    padding: 16px;
    font-size: 14px;
    font-family: monospace;
}

.color {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    float: left;
}

.terminal {
    padding: 16px;
    font-family: "Droid Sans Mono for Powerline";
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 64px;
}

.terminal span {
    display: inline-block;
}

.color,
.theme,
.terminal,
.terminal span {
    transition: all .3s;
}

.theme h2 {
    font-size: 36px;
    font-weight: 300;
}